@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?tomleg');
    src: url('../fonts/icomoon.eot?tomleg#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?tomleg') format('truetype'),
        url('../fonts/icomoon.woff?tomleg') format('woff'),
        url('../fonts/icomoon.svg?tomleg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.title {
    position: relative;
    height: 80px;
    background-color: #623ccd;
}

.location {
    float: left;
    position: relative;
    width: 20px;
    height: 20px;
    margin-top: 30px;
    margin-left: 224px;
}

.location .font::after {
    position: absolute;
    content: '';
    font-family: 'icomoon';
    color: #ccc;
    font-size: 20px;
}

.location div[class^="wave"] {
    position: absolute;
    box-shadow: 0 0 12px skyblue;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    animation: wave 1.2s linear infinite;
}

@keyframes wave {
    0% {}

    75% {
        width: 40px;
        height: 40px;
        opacity: 1;
    }

    100% {
        width: 70px;
        height: 70px;
        opacity: 0;
    }
}

.wave2 {
    animation-delay: 0.4s !important;
}

.wave3 {
    animation-delay: 0.8s !important;
}

.location:hover .font::after {
    color: skyblue;

}

.title .cat {
    float: left;
    height: 100%;
    width: 530px;
    margin-left: 590px;
}




.cat::after:hover {
    transform: rotate(225deg);
}

.cat img {
    width: 100%;
    height: 100%;
}

.sanjiaoxing {
    float: right;

    width: 20px;
    height: 20px;
}

.sanjiaoxing::after {
    position: absolute;
    top: 30px;
    right: 80px;
    content: '';
    width: 15px;
    height: 15px;
    border-bottom: 2px solid #ccc;
    border-right: 2px solid #ccc;
    transform: rotate(45deg);
    transition: all 1s;
}

.sanjiaoxing:hover::after {
    transform: rotate(225deg);
}


.zhuan {
    perspective: 4000px;
    margin-top: 120px;
    background-color: #fbf4fb;

}

section {
    position: relative;
    width: 150px;
    height: 200px;
    margin: 0 auto;
    /* background: url(../images/bgd1.jpg) no-repeat; */
    transform-style: preserve-3d;
    animation: change 12s linear infinite;
}

@keyframes change {
    0% {
        transform: rotateY(0);
    }

    100% {
        transform: rotateY(360deg);
    }
}

section div {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 200px;
    text-align: center;
}

div img {
    display: block;
    width: 150px;
    height: 200px;
}



.div1 {
    transform: translateZ(300px);
    border-radius: 20px;
    overflow: hidden;
}

.div2 {
    transform: rotateY(60deg) translateZ(300px);
    border-radius: 30px;
    overflow: hidden;
}

.div3 {
    transform: rotateY(120deg) translateZ(300px);
    border-radius: 50px;
    overflow: hidden;
}

.div4 {
    transform: rotateY(180deg) translateZ(300px);
    border-radius: 20px;
    overflow: hidden;
}

.div5 {
    transform: rotateY(240deg) translateZ(300px);
    border-radius: 100px;
    overflow: hidden;
}

.div6 {
    transform: rotateY(300deg) translateZ(300px);
    border-radius: 10px;
    overflow: hidden;
}

.content {
    height: 120px;
    margin-top: 20px;
    padding-left: 273px;
    padding-top: 5px;
    background-color: #fbf4fb;
}

.content p {
    margin-top: 5px;
}

.content .p1 {
    font-size: 18px;
}

.content .p2 {
    font-size: 25px;
    font-weight: 700;
}

.share {
    height: 300px;
    margin-top: 30px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.share .fafa {
    float: left;
    width: 300px;
    height: 150px;
    margin-top: 30px;
    margin-left: 30px;
    text-align: center;
}

.fafa img {
    width: 100%;
}

.fafa p {
    margin-top: 10px;
    /* color: #ccc; */
}

.share .poetry {
    float: right;
    width: 500px;
    height: 300px;
    padding-top: 100px;
    font-size: 25px;
}

.poetry .pt1 {
    margin-left: 30px;
}

.poetry .pt2 {
    margin-top: 20px;
    margin-left: 170px;
}